.containerinicial {
    background: #FFFFFF;
    width: 1025px;
    height: 839px
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container img{
    width: 400px;
    height: 466.67px;
    margin-left: 38px;
    margin-top: 59px;
}

.container button{
    width: 200px;
    height: 60px;
    background: #27AE60;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 334px;
    margin-top: 89px;
}

.desabilitado {
    color: #798A9F;
    background: #9FAAB5;
    border: 1px solid #7AA7C7;
   
    
}

.palavraescolhida {
    width: 100%;
    font-size: 50px;
    line-height: 68px;
    color: #000000;
    letter-spacing: 20px;
    font-family: "Noto Sans", sans-serif;
    line-height: 68px;
  }

 .habilitado {
    color: #39739D;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    
}


.containerletra{
    height: 92px;
    width: 676px;
    margin-top: 70.33px;
    margin-left: 211px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: fit-content;
    flex-wrap: wrap;
}

.botao {
    width: 40px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    margin-left: 12px;
}